<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <%= header %>
    <div>
        <%= content %>
        <a href="/en/slbj/hotelPage">北京香格里拉酒店页面</a>&nbsp;
        <a href="/en/slhk/hotelPage">香港香格里拉酒店页面</a>
    </div>
    <%= footer %>
</body>
</html>
