<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="hotel_bg">
        <div>
          <%= htmlWebpackPlugin.options.content %>
          <img src="<%= require('../../../public/image/1.jpg')%>" alt="">
        </div>
    </div>
  </body>
</html>
