<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="index_bg">
        <%- include('../../components/header/header.ejs') %>
        <div>
          <%= content %>
        </div>
        <%- include('../../components/footer/footer.ejs') %>
    </div>
  </body>
</html>